
.home-section .container-fluid {
    height: calc(100% - 50px);
}

.text-left {
    text-align: left;
    height: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.home-section{
    position: relative;
    background: #E4E9F7;
    height: calc(100vh - 56px);
    padding: 10px;
    left: 342px;
    width: calc(100% - 345px);
    transition: all 0.5s ease;
  }

.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.home-section .row {
    height: 100%; 
}

.home-section .col-3 {
    height: 100%; 
    border-radius: 10px;
}


#statistics {
    height: 30%;
    padding: 10px;
    border-radius: 10px;
}

#recentReports {
    height: 70%;
    padding: 10px;
}

#events, #performance {
    height: 50%;
    padding: 10px;
    border-radius: 10px;
}