.home-section .container-fluid {
  height: calc(100% - 50px);
}

.text-left {
  text-align: left;
  height: auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  height: calc(100vh - 56px);
  padding: 10px;
  left: 342px;
  width: calc(100% - 345px);
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
color: #11101d;
font-size: 35px;
}
.home-section .home-content .bx-menu{
cursor: pointer;
}
.home-section .home-content .text{
font-size: 26px;
font-weight: 600;
}

.home-section .col-3 {
  height: 100%; 
  border-radius: 10px;
}

#home-content {
  height: 100%;
  padding: 10px;
}

.home-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  overflow: hidden; 
}

.home-section .container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

/* Ensure the table is scrollable if content overflows */
#home-content {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  padding: 10px;
}


@media (max-width: 375px) {
  .sidebar {
      width: 100%;
      position: fixed; 
      z-index: 1050; 
      top: 0;
      left: 0;
      height: 100vh;
      background-color: #343a40; 
      overflow-y: auto; 
      transition: transform 0.3s ease-in-out;
  }

  .sidebar.hidden {
      transform: translateX(-100%); 
  }

  .sidebar.visible {
      transform: translateX(0); 
  }

  .home-section {
      margin-left: 0; 
      font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}

