
h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.form-label {
    font-size: 16px;
    color: #333;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;

}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
}

.row {
    width: 100%;
    padding: 20px;
}