.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 56px;
}
.navbar-brand {
    background-color: transparent !important;
}
.navbar-nav .nav-link {
    font-weight: 500;
}
.dropdown-menu {
    min-width: 200px;
}